/*CSS reset settings here*/
*{
 margin: 5px;
 padding: 5px;
 font-family: serif;
}
body{
  display: block;
}

h1{
  font-family:inherit;
  color:rgb(182,204,227);
  text-decoration: none;
}
h4 {
    display: inline;
    color:rgb(109,117,255);
  }
p{
  display:inline-block;
  color:rgb(182,204,227);
}

li a{

  color:rgb(93,215,216);
  padding-top: 0px;
  margin: -5px;
}
ul li {

    padding-top: 0px;
    margin: -9px;
    color: rgb(182,204,227)
}
ul {
    font-family: serif;
    list-style-position: inside;
    color:white;
    margin-bottom: -19px;
    margin-top: -17px;

}

a{
  color:rgb(93,215,216);
}
a.home{
  color:rgb(93,215,216);
  display: inline-block;
  margin-top: -7px;
  padding-bottom: 18px;
  margin-left: -10px;
}

#wrapper{
 width: 970px;
 background-color: rgb(21,27,75);
 margin: -5px auto;
 padding:inherit;

}
#header{
 height: inherit;
 background-color: rgb(193,26,42);
 border-radius: 8px

}
#navigation{
 height: auto;
 width: auto;
 background-color: rgb(34,107,121);
 margin-top: 2px;
 vertical-align: top;
 display: inline-block;
 padding-top:29px;
 border-radius: 8px
}
#main_content{
 height: 400px;
 width: 737px;
 background-color: rgb(13,19,26);
 display:inline-block;
 border-radius: 8px
}

#footer{
  height: auto;
      width: -webkit-fill-available;
      background-color: rgb(75,83,96);
      display: inline-block;
      border-radius: 8px
}
